<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About Me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />

		<script type="application/x-javascript"> 
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
			function hideURLbar(){ window.scrollTo(0,1); }
		</script>

		<link href="/page/aboutMe/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="/page/aboutMe/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/page/aboutMe/css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/page/aboutMe/css/owl.carousel.css" type="text/css" media="all">
		<link href="/page/aboutMe/css/owl.theme.css" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/page/aboutMe/css/cm-overlay.css" />
		<link href="/page/aboutMe/css/font-awesome.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>
		<script src="/page/aboutMe/js/jquery-1.11.1.min.js"></script>
		<script src="/page/aboutMe/js/bootstrap.js"></script>
		<link rel="stylesheet" href="/page/aboutMe/css/main.css">
		<script type="text/javascript" src="/page/aboutMe/js/main.js"></script>

		<script>
			$(document).ready
			(
				function() 
				{ 
					$("#owl-demo").owlCarousel
					(
						{
							autoPlay: 3000, //Set AutoPlay to 3 seconds
							autoPlay:true,
							items : 3,
							itemsDesktop : [640,5],
							itemsDesktopSmall : [414,4]
						}
					);
				}
			);
		</script>
		<style>
			p.bar_label_max, p.bar_label_min
			{
				display: none!important;
			}
		</style>
	</head>

	<body>
		<!-- banner -->
		<div class="banner" id="home">
			<div class="container">
				<div class="agile-logo">
					<h1><a>Creative<span>Resume</span></a></h1>
				</div>
				<div class="w3l-banner-grids">
					<div class="col-md-8 w3ls-banner-right">
						<div class="banner-right-img">
							<img src="/page/aboutMe/images/1.jpg" alt="" />
						</div>
						<div class="banner-right-info">
							<h2>简介</h2>
							<p>
								&ensp;&ensp;&ensp;&ensp;1997年9月出生于山东省沂水县的一个农村。2016年进入曲阜师范大学信息科学与工程学院，学习计算机科学与技术专业，正式接触计算机科学。<br/>
								&ensp;&ensp;&ensp;&ensp;最喜欢的语言是Java，感觉最厉害的语言是C语言和汇编；最佩服搞医学和心理学的；最喜欢各种漂亮的电脑、漂亮的手机、漂亮的姑娘。<br/>
								&ensp;&ensp;&ensp;&ensp;接触过一点嵌入式、Android与Python，大一假期才知道有种开发叫Web开发，Web开发中有种开发叫Java Web，找到了主要的学习方向。<br/>
								&ensp;&ensp;&ensp;&ensp;一直梦想能成为一个大神，但到现在还是一事无成。
							</p>
						</div>
						<div class="clearfix"> </div>
						<div class="w3-button">
							<div class="w3-button-info m_nav_item">
								<a class="hvr-sweep-to-bottom" href="/toMessagePage">给我留言</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 w3ls-banner-left">
						<div class="w3ls-banner-left-info">
							<h4>姓名</h4>
							<p>李艳兴</p>
						</div>
						<div class="w3ls-banner-left-info">
							<h4>姓别</h4>
							<p>男</p>
						</div>
						<div class="w3ls-banner-left-info">
							<h4>博客</h4>
							<p><a href="https://blog.csdn.net/Sacredness">https://blog.csdn.net/Sacredness</a></p>
						</div>
						<div class="w3ls-banner-left-info">
							<h4>电子邮箱</h4>
							<p>416698547@qq.com</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //banner -->

		<!-- about -->
		<div class="about" id="about">
			<div class="container">
				<div class="wthree-about-grids">
					<div class="col-md-6 wthree-about-left">
						<h3>学习中的遗憾</h3>
						<h4>好好学习，天天向上。</h4>
						<p>学习中的遗憾之一：没有学好英语，学习编程，最美的语言不是PHP，而是English。英语对一名程序员的重要性不言而喻，可惜我没有学好。
							<span>
								学习中的遗憾之二：计算机网络的课没有好好听。开这门课的时候感觉这应该是网工班的同学们要主要学的，用到时才发现计算机网络的知识对任何类型的计算机人员来说都是基础。
							</span>
							学习中的遗憾之三：没有养成阅框架读源码的好习惯。老感觉去读那些大师写的代码是不是太早点，但要想有更深的理解，要想把“别人的东西”变成“自已的东西”，读源码这一关是躲不过的。</p>
					</div >
					<div class="col-md-6 wthree-about-right">
						<h3>技能</h3>
						<div class="skills-bar">
							<section class='bar'>
							<section class='wrap'>
								<div class='wrap_right'>
								<div class='bar_group'>
									<div class='bar_group__bar thin' label='Linux' show_values='true' tooltip='true' value='300'></div>
									<div class='bar_group__bar thin' label='Java' show_values='true' tooltip='true' value='456'></div>
									<div class='bar_group__bar thin' label='C/C++' show_values='true' tooltip='true' value='275'></div>
									<div class='bar_group__bar thin' label='Javascript' show_values='true' tooltip='true' value='100'></div>
									<div class='bar_group__bar thin' label='HTML' show_values='true' tooltip='true' value='55'></div>
								</div>
								</div>
								<div class='clear'></div>
							</section>
							</section>
						</div>
					</div >
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		
		<script src="/page/aboutMe/js/jarallax.js"></script>
		<script src="/page/aboutMe/js/SmoothScroll.min.js"></script>
				
		<!-- feedback -->
		<div class="jarallax feedback">
			<div class="container">
				<div class="w3-agileits-statistics-heading">
					<h3>至理名言</h3>
				</div>
				<div class="agileits-feedback-grids">
					<div id="owl-demo" class="owl-carousel owl-theme">
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p>简单的东西不一定最好，但是最好的东西一定是简单的。</p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="/page/aboutMe/images/f1.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>苏小研啊</h5>
										<p>简书博主</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>	
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p>当我的老板问我它将达到多少次下载时，我说 10000 次。而他认为我太过乐观了。</p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="/page/aboutMe/images/f2.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>James Gosling</h5>
										<p>Java之父</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>	
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p>不论是老人，还是青年，航行对我们来说都是最后一次。</p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="/page/aboutMe/images/f3.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Stevenson</h5>
										<p>伟大作家</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>	
						</div>
						<div class="item">
							<div class="feedback-info">
								<div class="feedback-top">
									<p>能说会道算不上什么，有本事就把你的代码给我看看。</p>
								</div>
								<div class="feedback-grids">
									<div class="feedback-img">
										<img src="/page/aboutMe/images/f4.jpg" alt="" />
									</div>
									<div class="feedback-img-info">
										<h5>Linus Torvalds</h5>
										<p>Linux创始人</p>
									</div>
									<div class="clearfix"> </div>
								</div>
							</div>	
						</div>
					</div>
				</div>
				<script type="text/javascript">
					/* init Jarallax */
					$('.jarallax').jarallax
					(
						{
							speed: 0.5,
							imgWidth: 1366,
							imgHeight: 768
						}
					);
				</script>

			</div>
		</div>
		<!-- //feedback -->
		
		<!-- copyright -->
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<p>
					底部版权 待修改
				</p>
			</div>
		</div>
		<!-- //copyright -->
		
		<script src="/page/aboutMe/js/bars.js"></script>
		<script src="/page/aboutMe/js/owl.carousel.js"></script>
	</body>	
</html>