<!DOCTYPE html>

<html lang="en">
	<head>
		<title>首页 | Discipline的个人网站</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />

		<script type="application/x-javascript"> 
			addEventListener
			(
				"load", 
				function() 
				{ 
					setTimeout(hideURLbar, 0); 
				}, 
				false
			); 
			function hideURLbar()
			{ 
				window.scrollTo(0,1); 
			} 
		</script>

		<link href="/page/index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/page/index/css/swipebox.css">
		<link rel="stylesheet" href="/page/index/css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/page/index/css/font-awesome.min.css" type="text/css" media="all" />

		<!--<script src="/page/index/js/jquery-1.11.1.min.js"></script>-->
		<script src="/page/index/js/jquery-1.11.1.min.js"></script>
		<script src="/page/index/js/bootstrap.js"></script>
		<script type="text/javascript" src="/page/index/js/move-top.js"></script>
		<script type="text/javascript" src="/page/index/js/easing.js"></script>

		<script type="text/javascript">
			$(document).ready
			(
				function() 
				{
					$().UItoTop({ easingType: 'easeOutQuart' });				
				}
			);
		</script>

		<script src="/page/index/js/jquery.swipebox.min.js"></script>

		<script type="text/javascript">
			jQuery
			(
				function($) 
				{
					$(".swipebox").swipebox();
				}
			);
		</script>
	</head>

	<body>
		<div class="banner" id="home">
			<div class="header-bottom">
				 <div class="container">
				  <div class="fixed-header">
					  <!--logo-->
					   <div class="logo">
						  <a href="/"><h1>首页</h1></a>
					   </div>
						<!--//logo-->
						<nav class="navbar navbar-default cl-effect-16" id="cl-effect-16">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">
								<ul class="nav navbar-nav">
									<li><a class="scroll" href="/toShowSoftware?currPage=1" target="_blank">软件推荐</a></li>
									<li><a class="scroll" href="/toShowWebsite?currPage=1" target="_blank">网站推荐</a></li>
									<li><a class="scroll" href="/toShowResourcePage?currPage=1" target="_blank">资源下载</a></li>
									<li><a class="scroll" href="/toMessagePage" >给我留言</a></li>
									<li shiro:notAuthenticated><a class="scroll" href="/toLogin" >登录</a></li>
									<li shiro:notAuthenticated><a class="scroll" href="/commonuser/toRegister" target="_blank">注册</a></li>
									<li shiro:authenticated class="dropdown">
										<a id="dropdown-title" href="#" class="dropdown-toggle" data-toggle="dropdown">
											<span th:text="${user_name}"></span>
											<span class="caret"></span>
										</a>
										<ul id="dropdown-menu" class="dropdown-menu">
											<li shiro:hasRole="common-user"><a href="/commonuser/toChangePasswordPage">修改密码</a></li>
											<li shiro:hasRole="administrator"><a href="/showMessage" target="_blank">查看用户留言</a></li>
											<li><a href="/commonuser/logout">退出登录</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</nav>

					 <div class="clearfix"></div>
				 </div>
			</div>

			</div>
				<div class="banner-slider w3layouts">
						<div class="callbacks_container">
							<ul class="rslides" id="slider4">
								<li>
									<a href="/toAboutMePage" target="_blank">
										<div class="banner-info">
											<h3>About Me</h3>
											<p><small>关于我</small></p>
											<div class="arrows"><img src="/page/index/images/border.png" alt="border"/></div>
											<span>Discipline的个人网站</span>
										</div>
									</a>
								</li>
								<li>
									<a href="/toShowPhotoPage" target="_blank">
										<div class="banner-info">
											<h3>My Album</h3>
											<p><small>相册</small></p>
											<div class="arrows"><img src="/page/index/images/border.png" alt="border"/></div>
											<span>Discipline的个人网站</span>
										</div>
									</a>
								</li>
								<li>
									<a href="/toSupportMePate" target="_blank">
										<div class="banner-info">
											<h3>Support Me</h3>
											<p><small>支持我</small></p>
											<div class="arrows"><img src="/page/index/images/border.png" alt="border"/></div>
											<span>Discipline的个人网站</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					<!--banner Slider starts Here-->
					<script src="/page/index/js/responsiveslides.min.js"></script>

					<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						// Slideshow 4
						$("#slider4").responsiveSlides({
							auto: true,
							pager:true,
							nav:false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							$('.events').append("<li>after event fired.</li>");
							}
						});

						});
					</script>
					<!--banner Slider starts Here-->
				</div>
			</div>

		<!-- About-->
		<div class="about-w3" id="about">
		<div class="container">
			<div class="col-md-6 about-left-w3l">
				<h2>关于</h2>
				<p>基本信息</p>
				<div class="about-left-wthree">
					<div class="about-left-w3l-sec1">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-qq" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<h4>4166 9854 7</h4>
							<p>QQ号</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-left-w3l-sec2">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-weixin" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<h4>ThievesWord</h4>
							<p>微信号</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-left-w3l-sec3">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<h4>曲阜师范大学</h4>
							<p>山东省日照市东港区</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 about-right-w3l">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
		<!-- //About-->

		<div class="copy-agileinfo">
			<div class="container">
				<p>Copyright &copy; 2019.Discipline</p>
			</div>
		</div>
	</body>
</html>