<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:shiro="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- 适配手机 -->

        <title>首页 | 李艳兴的个人网站</title>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/index.css"/>

        <!-- jquery -->
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <!---------------------------- 通栏 ---------------------------->
        <nav id="navbar" class="navbar navbar-default">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <!--导航头-->
                        <div class="navbar-header">
                            <a id="index-text" class="navbar-brand" href="/">首页</a>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my_navbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!--合并区-->
                        <div class="collapse navbar-collapse" id="my_navbar">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="/toShowSoftware?currPage=1">软件推荐</a></li>
                                <li><a href="#">网站推荐</a></li>
                                <li><a href="#">资源下载</a></li>
                                <li><a href="#">给我留言</a></li>
                            </ul>
                            <div shiro:notAuthenticated>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/commonuser/toLogin"><span class="glyphicon glyphicon-log-in"></span>&ensp;登录</a></li>
                                    <li><a href="/commonuser/toRegister"><span class="glyphicon glyphicon-user"></span>&ensp;注册</a></li>
                                </ul>
                            </div>
                            <div shiro:authenticated>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a id="dropdown-title" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span th:text="${user_name}"></span>
                                            <span class="caret"></span>
                                        </a>
                                        <ul id="dropdown-menu" class="dropdown-menu">
                                            <li shiro:hasRole="common-user"><a href="#">修改密码</a></li>
                                            <li><a href="/commonuser/logout">退出登录</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!---------------------------- 通栏结束 ---------------------------->
        <div id="main" class="container">
            <div id="first-row" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">李艳兴的个人网站</h1>
                </div>
            </div>
            <div id="second-row" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#">
                        <div id="about-me" class="col-md-4 col-md-offset-4">
                            About&ensp;Me
                        </div>
                    </a>
                    <a href="#">
                        <div id="support-me" class="col-md-4 col-md-offset-4">
                            Support&ensp;Me
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div th:text="${msg}"></div>
    </body>
</html>