<!DOCTYPE html>
<html lang="zxx"
      xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <title>用户登录</title>
        <!-- Meta-Tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="keywords" content=""/>

        <script>
            addEventListener
            (
                "load",
                function ()
                {
                    setTimeout(hideURLbar, 0);
                },
                false
            );
            function hideURLbar()
            {
                window.scrollTo(0, 1);
            }
        </script>
        <!-- //Meta-Tags -->
        <!-- Stylesheets -->
        <link href="/page/login/css/style.css" rel='stylesheet' type='text/css'/>
        <!--// Stylesheets -->
        <!--fonts-->
        <!-- title -->
        <link href="http://fonts.googleapis.com/css?family=Abhaya+Libre:400,500,600,700,800" rel="stylesheet">
        <!-- body -->
        <!--//fonts-->
        <script src="/page/login/js/jquery.min.js"></script>
    </head>

    <body>
        <header id="hed-common">
            <h1>普通用户登录</h1>
        </header>

        <!-- 管理员 -->
        <header id="hed-admin" style="display:none">
            <h1>管理员登录</h1>
        </header>

        <div class="w3ls-contact"> <!-- form starts here -->
            <form id="form-common" action="/commonuser/login" method="post">
                <div class="agile-field-txt">
                    <label>用户名</label>
                    <input type="text" name="name" required="required"/>
                    <small style="color:red;" th:text="${no_account_common}"></small>
                </div>

                <div class="agile-field-txt">
                    <label>密码</label>
                    <input type="password" name="password" required="required"/>
                    <small style="color:red;" th:text="${error_passwd_common}"></small>
                </div>

                <div class="w3ls-contact  w3l-sub">
                    <input type="submit" value="登录">
                </div>
                <div class="w3ls-contact  w3l-sub">
                    <span id="to-admin">切换到管理员登录</span>
                </div>
            </form>

            <!-- 管理员 -->
            <form id="form-admin" action="/adminUser/login" method="post" style="display:none">
                    <div class="agile-field-txt">
                        <label>用户名</label>
                        <input type="text" name="name" required="required"/>
                        <small style="color:red;" th:text="${no_account_admin}"></small>
                    </div>
    
                    <div class="agile-field-txt">
                        <label>密码</label>
                        <input type="password" name="password" required="required"/>
                        <small style="color:red;" th:text="${error_passwd_admin}"></small>
                    </div>
    
                    <div class="w3ls-contact  w3l-sub">
                        <input type="submit" value="登录">
                    </div>
                    <div class="w3ls-contact  w3l-sub">
                        <span id="to-common">切换到普通用户登录</span>
                    </div>
                </form>
        </div> <!-- //form ends here -->

        <div class="copy-wthree">
            <p>
                Copyright &copy; 2019.Discipline
            </p>
        </div>
        <span id="status" th:text="${status}" style="display: none"></span>
        <script src="/page/login/js/login.js"></script>
        <script>
            /*获得焦点时隐藏提框*/
            $('input').unbind('focus')
                .bind
                (
                    'focus',
                    function ()
                    {
                        $('small').css('display', 'none');
                    }
                )
        </script>
    </body>
<!-- //Body -->

</html>