<!DOCTYPE html>
<html>
	<head>
		<title>注册</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

		<link href="/page/register/style.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/page/register/js/jquery.js"></script>
		<script type="text/javascript" src="/page/register/js/jquery.i18n.properties-1.0.9.js" ></script>
		<script type="text/javascript" src="/page/register/js/jquery-ui-1.10.3.custom.js"></script>
		<script type="text/javascript" src="/page/register/js/jquery.validate.js"></script>
		<script type="text/javascript" src="/page/register/js/md5.js"></script>
		<script type="text/javascript" src="/page/register/js/page_regist.js?lang=zh"></script>

		<!--[if IE]>
			<script src="/page/register/js/html5.js"></script>
		<![endif]-->
		<!--[if lte IE 6]>
			<script src="/page/register/js/DD_belatedPNG_0.0.8a-min.js" language="javascript"></script>
			<script>DD_belatedPNG.fix('div,li,a,h3,span,img,.png_bg,ul,input,dd,dt');</script>
		<![endif]-->
	</head>

	<body class="loginbody">
		<div class="dataEye">

			<div class="loginbox registbox">
				<div class="logo-a">
					<img src="/page/register/images/logo-a.png">
				</div>

				<div class="login-content reg-content">

					<div class="loginbox-title">
						<h3>注册</h3>
					</div>

					<form id="signupForm" action="/commonuser/register" method="POST">
						<div class="login-error"></div>
						<div class="row">
							<label class="field" for="name">用户名(最长10个字符)</label>
							<input type="text" value="" class="input-text-user noPic input-click" name="name" id="name">
							<div id="has-reg" style="display: none; color: red">此用户名已被注册</div>
						</div>
						<div class="row">
							<label class="field" for="password">密码(4-16个字符)</label>
							<input type="password" value="" class="input-text-password noPic input-click" name="password" id="password">
						</div>
						<div class="row">
							<label class="field" for="passwordAgain">确认密码</label>
							<input type="password" value="" class="input-text-password noPic input-click" name="passwordAgain" id="passwordAgain">
						</div>
						<div class="row btnArea">
							<input id="submit-data" class="login-btn" type="submit" value="注册">
						</div>
					</form>
				</div>

				<div class="go-regist">
					已有帐号,请<a href="/toLogin" class="link">登录</a>
				</div>
			</div>
			
			<div id="footer">
				<div class="dblock">
					<div class="inline-block"><img src="/page/register/images/logo-gray.png"></div>
					<div class="inline-block copyright">
						<p>李高飞 曲阜师范大学</p>
						<!-- <p> Copyright © 2013 JS代码网</p> -->
					</div>
				</div>
			</div>
		</div>
	</body>

	<!--检查用户名是否已经被注册-->
	<script>
		$('#name').unbind('blur')
				.bind
				(
						'blur',
						function () //失去焦点时要做的事情
						{
							if ($(this).val() != '') //在失去焦点时，只有用户输入了数据才发送ajax
							{
								sendAjax();
							}
						}
				);

		/**
		 * 发送ajax查询
		 */
		function sendAjax()
		{
			var hasReg;
			var inputName = $('#name').val();
			$.ajax
			(
					{
						url : '/commonuser/hasReg',
						type : 'GET',
						dataType : 'json',
						data: {name : inputName},
						headers:
								{
									'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
								},
						success : function (response)
						{
							if(response.msg == true) //查询到用户名已被注册时要做的事
							{
								$('#has-reg').css('display', 'block'); //显示提示
							}
							else //查询到用户名未被注册时要做的事
							{
								$('#has-reg').css('display', 'none'); //取消显示提示
							}
						}
					}
			);
		}

		/**
		 * 为提交按钮绑定事件，
		 * 如果显示了提示信息就阻止默认事件
		 */
		$('#submit-data').unbind('click')
				.bind
				(
						'click',
						function (e)
						{
							if ($('#has-reg').css('display') == 'block')
							{
								e.preventDefault();
							}
						}
				);
	</script>
</html>