/*-----------------背景图片---------------------*/
html,body
{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}
body
{
    background:url("/image/page/index.jpg") no-repeat;
    width:100%;
    height:100%;
    background-size:100% 100%;
    position:absolute;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/systemImg/bg_index.jpg',sizingMethod='scale');
}
/*-------------------------------------------------*/
/*----------------------通栏----------------------*/
#navbar
{
    background-color: rgba(5, 147, 211, 0);
}
#index-text
{
    color: white;
}
.navbar #my_navbar ul li a
{
    color: white;
}
#dropdown-menu a
{
    color: black!important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover
{
    background: rgba(0,0,0,0);
}
/*-----------------------------------------------*/
#main
{
    height: 85%;
    /*background: #1b6d85;*/
}
/*-------------------第一行----------------------*/
#first-row
{
    height: 30%;
    /*background: #8a6d3b;*/
}
#first-row div.col-md-8.col-md-offset-2
{
    height: 100%;
    /*background: #ac2925;*/
}
#first-row div.col-md-8.col-md-offset-2 h1.text-center
{
    font-family: 华文中宋;
    color: white;
    /*background: black;*/
    margin-top: 50px;
}
/*----------------------------------------------*/
/*-------------------第二行----------------------*/
#second-row
{
    height: 70%;
    /*background: #fcfe33;*/
}
#second-row div.col-md-8.col-md-offset-2
{
    height: 100%;
    /*background: #aca39a;*/
}

#about-me,#support-me
{
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 40px;
    border: #aca39a 1px solid;
    border-radius: 9px;
    background: rgba(0,0,0,0);
}
#support-me
{
    margin-top: 20px;
}
#about-me:hover,#support-me:hover
{
    background: rgba(255,255,255,0.3);
}
/*----------------------------------------------*/